.popup__close {
  width: 32px;
  height: 32px;
  background: transparent url(../../../images/close_icon.svg) center no-repeat;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top:-40px;
  right: -40px;
  transition: opacity .2s ease;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 620px) {
  .popup__close {
    width: 20px;
    height: 20px;
    top: -40px;
    right: 0px;
    background-size: cover;
  }
}