.header {
    padding: 0 19px;
    margin: 45px auto 0;
    max-width: 880px;
    min-height: 74px;
}

.header::after {
  content: "";
  display: block;
  border-bottom: 1px solid #545454;
  padding-top: 41px;
  opacity: 0.7;
}

@media screen and (max-width: 620px) {
  .header {
    min-height: 56px;
    padding: 28px 0 0;
    margin: 0 auto;
  }

  .header::after {
    padding-top: 31.6px;
  }
}