.profile__add-button {
  min-height: 50px;
  max-width: 150px;
  width: 100%;
  cursor: pointer;
  align-self: center;
  margin: 0 0 0 auto;
  background-color: #000;
  border: 1px solid #fff;
  transition: opacity .2s ease;
}

.profile__add-button:hover {
    opacity: .6;
  }

@media screen and  (max-width: 768px) {
  .profile__add-button {
    margin: 0 auto;
    max-width: 282px;
  }
}