.profile__coment {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (min-width: 621px) and (max-width: 768px) {
  .profile__coment  {
    margin: 0 auto 20px;
  }
}

@media screen and  (max-width: 620px) {
  .profile__coment {
    margin: 0 auto 36px;
    font-size: 14px;
    line-height: 17px;
  }
}