.profile__add-button {
  min-height: 50px;
  max-width: 150px;
  width: 100%;
  cursor: pointer;
  align-self: center;
  margin: 0 0 0 auto;
  background-color: #000;
  border: 2px solid #fff;
  transition: opacity .2s ease;
  background: url(../../../images/add-button.svg) no-repeat center;
  background-size: 22px 22px;
  border-radius: 2px;
}

.profile__add-button:hover {
    opacity: .6;
  }

@media screen and  (max-width: 768px) {
  .profile__add-button {
    margin: 0 auto;
    max-width: 282px;
    background-size: 16px 16px;
  }
}