.footer {
  padding: 67px 19px 60px;
  align-items: center;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (min-width: 620px) and (max-width: 1024px) {
  .footer {
    max-width: 581px;
  }
}

@media screen and (max-width: 619px) {
  .footer {
    max-width: 282px;
    padding: 48px 19px 36px;
  }
}