.popup__submit-btn {
  margin-top: 18px;
  border: 0;
  max-width: 358px;
  min-height: 50px;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  background-color: black;
  border-radius: 2px;
  cursor: pointer;
  transition: opacity .2s ease;
  box-sizing: border-box;
}

.popup__submit-btn:hover {
  opacity: 0.6;
}